<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- Databse connection setting -->
    <session-factory>
    	<!-- <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    	 --><property name="hibernate.connection..url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    	<property name="hibernate.connection.username">scott</property>
    	<property name="hibernate.connection..password">Arvind</property>
    
    <!-- mapping file of student class Object-->
 
 	<mapping resource="com/nt/entity/student.hbm.xml"/>
 
    </session-factory>
 
    
    </hibernate-configuration>

        <!-- Database connection settings -->

        